/* Chat.tsx */
.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
  }
  
  .input-container {
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 60%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: aliceblue;
  }
/* ChatDisplay.tsx */  

.message_gpt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 10%;
}

.message_user {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 10%;
}

.message_gpt_text {
  margin: 2%;
  padding: 1%;
  color: aliceblue;
}
.message_user_text {
  margin: 2%;
  padding: 1%;
  color: aliceblue;
}
.message_gpt_text_wrapper {
  margin: 2%;
  background-color: grey;
  max-width: 30%;
  min-width: 10%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.message_user_text_wrapper {
  margin: 2%;
  background-color: steelblue;
  max-width: 30%;
  min-width: 10%;
  min-height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}